# List cloud sources to sync, one per line, in the format:
#     remote:folder = /local/destination
# The 'remote' must match a remote configured in rclone.conf
# For example:
#     OneDrive:eBooks = Books
# The 'OneDrive' is defined in rclone.conf, the contents of the eBooks directory will be copied to /mnt/onboard/Books
