KERNEL=="eth*", ACTION=="add", RUN+="/usr/local/koborclone/udev_run.sh"
KERNEL=="wlan*", ACTION=="add", RUN+="/usr/local/koborclone/udev_run.sh"
KERNEL=="lo", RUN+="/usr/local/koborclone/udev_run.sh"
